<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="one" class="com.deepinto.spring.ioc.OneClass">
        <constructor-arg name="one" value="第一个class"/>
    </bean>
    <!--开启注解扫描-->
    <context:component-scan base-package="com.deepinto.spring.ioc"/>

    <!--构造函数注入,为第二个Class注入值-->
    <bean id="two" class="com.deepinto.spring.ioc.TwoClass">
        <constructor-arg name="two" value="第二个class"/>
    </bean>

</beans>